<!doctype html>
<html ng-app="mainApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>GitHub Display</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-controller="mainCtrl">
        <h1>{{message}}</h1>
        {{username}}
        <form name="searchUser" ng-submit="search(username)">
            <input type="search" required placeholder="Enter Username" ng-model="username"/>
            <input type="submit" value="Search"/>
        </form>
        <div>
            <div class="error">{{error}}</div>
            <div>Name: {{searchUser.name}}</div>
            <div>Location: {{searchUser.location}}</div>
            <img ng-src="{{searchUser.avatar_url}}" />
        </div>
        <div ng-repeat="repo in repos">
            <div>{{repo.name}}: {{repo.language}}</div>
        </div>

        <div>
            <div class="error">{{error}}</div>
            <div>Name: {{user.name}}</div>
            <div>Location: {{user.location}}</div>
            <img ng-src="{{user.avatar_url}}" />
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>